    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }
    
    .container {
        max-width: 80%;
        align-items: center;
        padding: 56px;
        margin: 78px;
        text-align: center;
    }
    
    .container p {
        text-align: center;
    }
    
    input,
    textarea {
        margin: 11px auto;
        padding: 7px;
        font-size: 16px;
        outline: none;
        border-radius: 23px;
    }
    
    form {
        display: flex;
        flex-direction: column;
    }
    
    .btn {
        margin: 17px;
        padding: 16px;
        cursor: pointer;
        color: rgb(20, 3, 20);
    }
    
    .btn:hover {
        color: blue;
        border: 2px solid green;
    }
    
    .image {
        position: absolute;
        z-index: -1;
        width: 100%;
        opacity: 0.8;
    }